*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:auto;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__pesquisar{
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    padding: 1em;
}

.campo__pesquisar{
    width: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

#input__pesquisar{
    border-radius: 10px;
    min-width: 30%;
    padding: 0.3em;
}

#btn__buscar{
    background-color: #159A9C;
    color: #ffff;
    padding: 0.2em 2.5em;
    border: 0;
    border-radius: 10px;
}

.infos__pokemon{
    min-height: 80vh;
    width: 40%;
    background-color: #002333;
    border-radius: 10px;
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img__container{
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}

#img__pokemon{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}


.atributos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nome__atributo{
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0;
}


.atributos li{
    list-style: none;
    text-align: center;
    color: #fcf7f7d5;
}
ul{
    padding: 0;
}

h1{
    text-align: center;
    color: white;
}

.spinner-border {
    width: 100px;
    height: 100px;
}

@media(max-width:800px){
    .infos__pokemon{
        width: 90%;
    }
}